<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1rem" fxLayoutAlign="stretch">
        <mat-card class="example-card">

                <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>SAVE DATA</mat-card-title>
                        <mat-card-subtitle>Cloud DB</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="../../assets/images/train.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                        <p>
                                Save data to cloud
                        </p>
                </mat-card-content>
                <mat-card-actions>
                        <div class="example-button-row">

                                <a mat-raised-button routerLink="/userdetails">Enter Data</a>
                        </div>
                </mat-card-actions>
                <mat-card-footer><img mat-card-image src="../../assets/images/fire.jpeg" alt="Photo of a Shiba Inu"></mat-card-footer>
        </mat-card>


        <mat-card class="example-card">

                <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>PULL DATA</mat-card-title>
                        <mat-card-subtitle>Cloud DB</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                        <p>
                                Retrieve data from cloud
                        </p>
                </mat-card-content>
                <mat-card-actions>

                        <div class="example-button-row">


                                <a mat-raised-button routerLink="/userdbdata">Get Data</a>
                        </div>
                </mat-card-actions>
                <mat-card-footer><img mat-card-image src="../../assets/images/fire2.jpeg" alt="Photo of a Shiba Inu"></mat-card-footer>
        </mat-card>
</div>